.card {
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    background:-webkit-linear-gradient(top,rgba(255,255,250,0.8),transparent);
    max-width: 100%;
    position: relative;
    height: 100%;
    border-radius: 15px 15px 20px 20px;
    overflow: hidden;
    text-decoration: none;
    z-index: 0;
    margin: auto;
    display: flex;
    align-items: center;
}

.brandLogo {
    width: 100%;
    height: auto;
    padding:0.7vw;
}

.brandOverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: white;
    transform: translateY(0%);
    border-radius: 15px 15px 20px 20px;
    transition: .2s ease-in-out;
}

.card:hover .brandOverlay {
    transform: translateY(100%);
}

.brandName {
    text-align: center;
    color: black;
    font-family: "Montserrat Medium", serif;
    padding: 0.5em;
    background-color: white;
    border-radius: 15px 15px 20px 20px;
    font-size: 1em;
    margin: 0 0 .3em;
}

