.generationCard {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    background:-webkit-linear-gradient(top,rgba(255,255,250,0.8),transparent);
    position: relative;
    min-width: 300px;
    min-height: 100px;
    height: 12vw;
    width: 60vw;
    border-radius: 15px 15px 20px 20px;
    overflow: hidden;
    text-decoration: none;
}

.imageContainer {
    box-shadow: rgba(0, 0, 0, 0.3) 0 4px 12px;
    background:-webkit-linear-gradient(top,rgba(255,255,250,0.8),transparent);
    position: relative;
    height: 100%;
    width: 40%;
    border-radius: 15px 15px 20px 20px;
    overflow: hidden;
    text-decoration: none;
}

.textContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    flex:1;
}

.generationName {
    color: black;
    font-family: "Montserrat Medium", serif;
    font-size: 1.1em;
    padding: 0.5em;
    margin: 0 0 .3em;
}

.years, .power {
    color: black;
    font-family: "Montserrat Medium", serif;
    font-size: 1em;
    padding: 0.5em;
    margin: 0 0 .3em;
}